@model IEnumerable<FreshersManagement.Model.Trainee>

@{
    ViewBag.Title = "Index";
}

<h1>Trainee Management</h1>
<br />
<h2>
    <a class="btn btn-link btn-lg btnAdd" data-toggle="modal" data-target="#myModal"> Create New Fresher</a>
</h2>
<h3>
    @Html.ActionLink(" Display Freshers", "DisplayTrainee", null, new { @class = "btn btn-link btn-lg" })
</h3>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="teste"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Create.js"></script>
